<h1>Voudriez-vous adhérer à un service d’assurance automobile Proxibanque?</h1>
<div [ngSwitch]="switchExpression">

  <div *ngSwitchCase="0">
    <label for="img">
      <img class="img1" src="./assets/thumbs_up.png" id="img" (click)="thumbsUp()">
    </label>

    <label for="img">
      <img class="img2" src="./assets/thumbs_down.png" id="img2" (click)="thumbsDown()">
    </label>

  </div>
  <div classe="pos" *ngSwitchCase="1">
    <form (ngSubmit)="validatePos(clientForm)" #clientForm="ngForm">
      <div class="form-group">
        <label class="text1" for="serialNumber">Entrez votre numéro d'identifiant </label>
        <br>
        <input [(ngModel)]="client.serialNumber" id="serialNumber" name="serialNumber">
        <div *ngIf="isOk">
          <h4>Vous serez contacté(e) dans un délai {{getDays()}} de jours
            par un de nos conseillers expert en assurance auto</h4>
        </div>
        <br>
        <button (click)="onNumberValidated()" class="btn btn-success"> Valider </button>
      </div>
    </form>

  </div>

  <div *ngSwitchCase="2">
    <form (ngSubmit)="validateNeg(opinionForm)" #opinionForm="ngForm">
      <div class="form-group">
        <label for="commentary">Entrez votre commentaire </label>
        <input [(ngModel)]="opinion.commentary" id="commentary" name="commentary" class="form-control">
        <button (click)="onNumberValidated()" class="btn btn-success"> Valider </button>
        <div *ngIf="isOk">
            <h4>Merci d'avoir participer au sondage.</h4>
          </div>
      </div>
    </form>

  </div>