img {
    width: 100px;
    padding: 0px 0px;
    transition: 2s;
}

img:hover {
    padding: 20px;
    transition: 2s;
}

h1 {
    font-family: 'Staatliches', cursive;
    margin: 10%;
    margin-left: 350px;
}

img.img1 {
    margin-left: 800px;
}

img.img2 {
    margin-left: 50px;
}
