h1 {
    font-family: 'Staatliches', cursive;
    font-weight: 700;
    color: #FE654F;
    text-align: center;
    margin: 10%;
}

div.presentation {
	text-align: center;
}

div.presentation2 {
	text-align: center;
	width: 300px;
	margin: auto;
}

img {
    width: 300px;
    padding: 0px 0px;
    transition: 2s;
}

img:hover {
    padding: 20px;
    transition: 2s;
}

img.img1 {
    margin-left: 600px;
}

img.img2 {
    margin-left: 50px;
}
